* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav_bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    background-image: linear-gradient(to right, #636e72, #000000);
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}


/****************  --- Banner section styles---  *******************/

#banner {
    background-image: linear-gradient(to right, #1194e7, #0159e8);
    color: #fff;
    padding-top: 5%;
}

.pTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn {
    width: 45px;
    margin: 20px;
}

#banner a {
    color: white;
    text-decoration: none;
}

.img-fluid {
    width: 500px;
}

.bottom_img {
    width: 100%;
}