@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    ont-family: 'Ubuntu', sans-serif;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    background-image: linear-gradient(to right, #636e72, #000000);
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
}


/****************  --- Banner section styles---  *******************/

#banner {
    background-image: linear-gradient(to right, #636e72, #000000);
    color: #fff;
    padding-top: 5%;
}

.pTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn {
    width: 45px;
    margin: 20px;
}

#banner a {
    color: white;
    text-decoration: none;
}

.img-fluid {
    width: 500px;
}

.bottom_img {
    width: 100%;
}

/****************  --- Services section styles---  *******************/
#services {
    padding: 80px 0;
}

.service_img {
    width: 250px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #0159e8;
    height: 3px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: block;
    transform: translateY(63px);;
}

.title::after {
    content: '';
    background: #0159e8;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    border-radius: 5px;
    transform: translateY(8px);;
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    /* background-image: linear-gradient(to right, #1194e7, #0159e8);*/
}


/****************  --- AboutUs section styles---  *******************/

#about_us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index: 1;
}

.about_title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about_us ul li {
    margin: 10px 0;
}

#about_us ul {
    margin-left: 20px;
}

/*stat section*/
.car-stats {
    padding: 5em 1em;
}

.stats {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-right: 10px;
}

.stats > div {
    margin-bottom: 1em;
    position: relative;
    min-width: 10em;

}


.stats > div h1:nth-child(2) {
    color: rgba(96, 93, 93, 0.3);
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2em;
    font-weight: 700;
}

.stats h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em
}

.counter {
    margin: 0.1em 0;
}

.car_design {
    padding: 2em 1em 4em 6em;
    margin-top: 3em;
}

.circle {
    border: 2px #e5114d solid;
    border-radius: 50%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    background: #161616;
    animation: glow 4s ease-in-out infinite;
    aspect-ratio: 3/1;
}


.car_design img {
    width: 70%;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.circle div {
    border: inherit;
    border-radius: inherit;
    background: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: inherit;
}

.circle .inner-md-circle {
    width: 75%;
    height: 75%;
    top: 10%;
    animation-delay: 3s;
}

.circle .inner-sm-circle {
    width: 50%;
    height: 50%;
    top: 20%;
    animation-delay: 6s;
}

@keyframes glow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 1.5em #7f00ff;
    }
    100%{
        box-shadow: none;
    }
}


/****************  --- Testimonials section styles---  *******************/
#testimonials {
    margin: 100px 0;
}

.testimonials>p{
    line-height: 30px;
    padding-bottom: 30px;
}

.testimonials {
    border-left: 4px solid #0159e8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.user_details {
    display: inline-block;
    font-size: 14px;
}


/****************  --- Social Media section styles---  *******************/
#social_media {
    background: #f8f9fa;
    padding: 100px 0;
}

#social_media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social_icons img {
    width: 80px;
    transition: 0.5s;
}

.social_icons a:hover img {
    transform: translateY(-10px);
}

/****************  --- Footer section styles---  *******************/

#footer {
    background-image: linear-gradient(to right, #3C3F41, #2B2B2B);
    color: #fff;

}

.footer_img {
    width: 100%;

}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa-solid {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #1194e7, #0159e8);
}

.footer-box .form-control {
    box-shadow: none;
!important;
    border: none;
    border-radius: 25px;
    margin-top: 0;
    max-width: 250px;
}

.footer-box .btn-primary {
    background: #1194e7;
    box-shadow: none;
!important;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

hr {
    background-color: ghostwhite;
    height: 1.5px;
}

.copyRight {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

 /* ===================== Contact page Styles ===========================*/

#Contact_Page {
    /*  height: 100vh;*/
    height: 100vh;
    margin-bottom: 50px;

}

.contact_bg{
    height: 650px;
    background: #45494b;
    border-radius: 140px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin: 100px;
}


.contact_box{
    display: flex;
    position: absolute;
    margin: auto;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 527.8px;
    align-items: center;
    justify-content: space-evenly;

}
.contact_box>div{
    width: 28vw;
    height:527.8px;
}

.contact-01{
    display: flex;
    width:30vw ;
    flex-direction:column;
}

.contact-01>div{
    font-family: 'poppins', sans-serif;
    color: whitesmoke;
    position: relative;
    margin-top:2vw;
    width: 26vw;
    /*   height:12vh;*/
    height:90.48px;
}
.contact-01 .title1>h3{

    font-size: 20px;
    position: absolute;
    left: 57px;
}
.contact-01 .title1>h4{
    font-size: 16px;
    position: absolute;
    left: 57px;
}
.contact-01 .title1>i{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    color: #1194e7;
}

.contact-03 .title_map{
    color: #1194e7;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px ;
}

.contact-02{

    padding-top: 20px;
}

.contact-03{
    width: 100%;
    height: 100%;
}

.container_contact{
    /*  border: 2px solid deeppink;*/
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1vw 3vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}


form h3{
    color: #1194e7;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}


form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 12px;
    border-radius: 25px;
    outline: none;
    background:#f5f5f5 ;
    font-size: 16px;
}


form .btn{
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width:180px;
    margin: 15px auto 0;
    border-radius: 30px;
    transition: all 1s;

}

form .btn:hover{
    background: #079b07;
    transform: scale(1.05);
    transition: all 1s;
}

.gif:hover >h3{
    cursor: pointer;
    color: crimson;
}
/*  secureToken: "c682276c-e363-4d3d-b924-e78ce706af53",*/
.btn>i{
    padding-right: 7px;
}
.btn:hover i{
    color: #ffff00;
}








